@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

:root {
  --light-green: #4DAA57;
  --grass-green: #3D8745;
  --bright-green: #F9FDFA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  padding: 0;
  border: none;
  background: none;
}
/* navbar */

.navbar{
  background-color: var(--bright-green);
  width: 100vw;
  height: 96px;
  display: flex;
  justify-content: space-between;
}

.foodio-logo{
  margin-left: 48px;
  width: 119.63px;
  height: 30px;
}

.nav-logo-side{
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-buttons-side{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.btn-special{
  background-color: var(--light-green);
  color: #FFFFFF;
  width: 126px;
  height: 42px;
  border-radius: 9px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

/* hero */

.hero{
  display: flex;
  /* width: 100vh; */
  justify-content: space-between;
  background-color: var(--bright-green);
  padding: 48px 70px 96px 102px;
  gap: 0px 92px
  
}

.hero-text{
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  /* padding-right: 150px; */
}


.hero img{
  width: 570px;
  height: 562.39px;
}

.hero h1{
  margin-top: 0px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 52px;
  line-height: 61.62px;
}

.hero p{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #555555;
}

.hero-btns{
  display: flex;
  padding-top: 30px;
  gap: 0px 10px;
  align-items: center;
}

.hero .btn-special{
  width: 255px;
  height: 52px;
}

.btn-special-2{
  background-color: #FFFFFF;
  color: #555555;
  width: 126px;
  height: 42px;
  border-radius: 9px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.hero-btns img{
  width: 20px;
  height: 20px;
}

.hero-info{
  margin-top:auto;

  margin-bottom: 0;
  display: flex;
}

.customers img{
  width: 48px;
  height: auto;
  overflow: hidden;
  margin-left: -17px;
}

.customers img:first-child{
  margin-left: 0;
}

.info{
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.info p{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #555555;
}

.info p:first-child{
  color: var(--grass-green);
  font-family: 'Rubik';
  font-weight: 700;
  margin-right: 5px;
}

/* socialproof */

.socialproof{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  color: #888888;
  padding-top: 48px;
}

.brands{
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.tutorial-step{
  margin: 96px 200px 96px 200px;
  display: flex;
  gap: 0px 70px;
}

.tutorial-step:nth-child(even){
  flex-direction: row-reverse;
}


.tutorial-info{
  width: 50%;

}

.tutorial-img{
  display: flex;
  justify-content: center;
  width: 50%;

}
.tutorial-info h1{
  font-family: Rubik;
  font-size: 86px;
  font-weight: 600;
  line-height: 102px;
  letter-spacing: 0em;
  text-align: left;
  color: #DDDDDD;
}

.tutorial-info h2{
  font-family: Rubik;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.tutorial-info p{
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #555555;

}

/* dishes */

.dishes{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.section-name{
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 19px; */
  letter-spacing: 0em;
  text-align: left;
  color: var(--grass-green);
  margin-bottom: 16px;
}

.section-info{
  font-family: Rubik;
  font-size: 44px;
  font-weight: 700;
  /* line-height: 52px; */
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-bottom: 96px;
  margin-top: 16px;
}

.dishes-container{
  display: flex;
  gap: 0px 64px;
  margin-bottom: 72px;

}




.info-card{
  border-radius: 15.00000286102295px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  transform: translateY(-27px);
}


.diet-info{
  font-family: Rubik;
  font-size: 27px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}


.info-card ul{
  list-style: none;
  color: #555555;
}

.info-card li{
  display: flex;
  gap: 0px 21.62px;
  margin-left: -40px;
  margin-bottom: -10px;  

}

/* .info-card li img{
  width: 18.75px;
  height: 16.88px;
} */


.dish-card{
  width: 336px;
  height: 506px;
  /* background-color: blueviolet; */
  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0px 48px 48px 0px #00000014;
  filter: drop-shadow(0px 48px 48px rgba(0, 0, 0, 0.08));



}

.dish-name{
  font-family: Rubik;
  font-size: 27px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin: 24.31px 47.5px 0px 16px;

}

.dish-card img{
  width: 336px;
  height: 169.48px;
}

.dish-property{
  width: 76.5px;
  height: 16.15px;
  background: #228BE6;
  border-radius: 75px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  padding: auto;
  color: #FFFFFF;
  margin-left: 31.5px;
}




.dish-card .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 44px 73px 0px 40px;

  
}


.container img{
  width: 25px;
  height: 25px;
}

.dish-card .container .p-mid{
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  
  color: #333333;

}

.dish-card .container .p-last{
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--grass-green)

}

.sections{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dishes-footer{
  position: relative;
  display: flex;
  margin-bottom: 20px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--light-green)

}

.dishes-footer img{

  width: 16px;
  height: auto;
  margin-left: 8px;
  transform: rotate(-90deg);

  

}


.dishes-footer p::after{
  content : "";
  position : absolute;
  width : 100%;
  height : 1px;
  background-color: var(--light-green);
  bottom: 13px; 
  left: 0;
}

.price-list-cards{
  display: flex;

}

.price-list-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
  height: 568px;
  width: 402px;
  left: 286px;
  top: 3933px;
  border-radius: 11px;

}

.card-starter{

  border: 2px solid #F9FDFA;
  border-radius: 11px;
}

.card-sections{
  display: flex;
}

.card-name{
  font-family: Rubik;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--light-green)
}

.pricing{
  display: flex;
  align-items: flex-end;
  transform: translateY(100px);
}

.pricing .currency{
  height: 100%;
  font-family: Rubik;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.pricing .value{
  height: 100%;

  font-family: Rubik;
  font-size: 62px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}